{% extends 'base.html.twig' %}

{% block title %}Add New Product{% endblock %}

{% block body %}
    <h1 class="text-center">Add New Product</h1>

    {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
        <div class="mb-3">
            {{ form_label(form.name, 'Product Name', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.price, 'Price', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn btn-success">Save</button>
    {{ form_end(form) }}
{% endblock %}

